@import 'reset';
@import 'shared';

main {
    display: grid;
    place-items: center;
    padding-top: 5em;
}

// TODO: Fix scrolling
#preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 5em;
    
    .preview-wrapper {
        display: block;
        cursor: pointer;
        position: relative;
        margin: 2em;

        .preview {
            position: absolute;
            z-index: -1;
        }
    }

    #new-resume-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -3em;
        height: 3em;
    }
}

#error-popup {
    position: relative;
    bottom: 15em;
    width: 80%;
    max-width: 25em;
}

:root {
    --resume-scale: 0.35;
  }