/* How to Sort CSS
  /* Positioning
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /* Display & Box Model
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  /* Color
  background: #000;
  color: #fff
  
  /* Text
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /* Other
  cursor: pointer;
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: calc(100vh - 3em);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3em;
  background: lightblue;
  height: 3em;
  text-align: center;
}

#editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-width: 700px;
  overflow: scroll;
}

#editor .inner {
  height: 100%;
  padding: 1em;
  margin: auto;
}

form {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1em auto;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #333;
  margin: 0.5em;
}

input, textarea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  outline: none;
  resize: none;
  border: 0;
  padding: 0.5em;
  margin-left: 1em;
  border-radius: 2px;
  background: #eee;
}

#preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #eee;
  overflow: scroll;
  padding: 0 2em;
}

#preview-inner {
  margin: 3em auto;
  width: calc(var(--a4-w) * var(--resume-scale));
  height: calc(var(--a4-h) * var(--resume-scale));
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#preview iframe {
  border: 0;
  -webkit-transform: scale(var(--resume-scale));
          transform: scale(var(--resume-scale));
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

#toggleEditor {
  margin: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
}

#refreshResume {
  margin: 2em;
  position: fixed;
  bottom: 5em;
  right: 0;
}

.paper {
  width: var(--a4-w);
  height: var(--a4-h);
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button, .button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  color: darkorange;
  background: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

:root {
  --resume-scale: 0.6;
  --a4-h: 29.7cm;
  --a4-w: 21cm;
}

@media only screen and (max-width: 1000px) {
  :root {
    --resume-scale: 0.4;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --resume-scale: 0.8;
  }
}
/*# sourceMappingURL=main.css.map */