@import 'reset';
@import 'shared';

body {
  height: 100vh;
  background-color: #fff;
}

main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 3em);
}

#preview-section,
#editor-section {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 2rem;
  overflow: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  
  background: #0af;
  color: #fff;
  height: 3em;
  text-align: center;
}

#editor-section {
  min-width: 500px;

  #editor {
    margin: 0 auto;
    max-width: 700px;

    section:not(:last-child) {
      margin-bottom: 2rem;
    }

    h2 {
      color: #222;
    }

    h2, p {
      width: 100%;
      padding: 0.4rem;
    }

    label {
      font-weight: 300;
      font-size: 16px;
      color: #666;
      padding: 0.4rem;
      flex-grow: 1;
      flex-basis: 250px;
    }

    .experience {
      position: relative;
      padding: 1rem 0;
      border-top: 1px solid #eee;
    
      .delete-experience-btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

#preview-section {
  flex-grow: 1;
  display: grid;
  place-items: center;
  background: #eee;

  #preview-wrapper {
    width: calc(var(--a4-w) * var(--resume-scale));
    height: calc(var(--a4-h) * var(--resume-scale));

    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;

    #preview {
      padding: 0;
      border: 0;
      transform: scale(var(--resume-scale));
      transform-origin: 0 0;
    }
  }

  #preview-hover {
    position: fixed;
    margin: 2em;
    bottom: 0;
    right: 0;
  }
}

.a4 {
  width: var(--a4-w);
  height: var(--a4-h);
}

.display-none {
  display: none;
}

:root {
  --resume-scale: 0.6;
  --a4-h: 29.7cm;
  --a4-w: 21cm;
}

@media only screen and (max-width: 1000px) {
  :root {
    --resume-scale: 0.4; 
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --resume-scale: 0.8; 
  }
}