<div class="login">
    <form action="/login" method="post">
        <h1>Welcome</h1>
        <input name= "name" type="text" placeholder="Name" />
        <input name="email" type="email" placeholder="Email" />
        <input name="password" type="password" placeholder="Password" />
        <button>Sign Up</button>
        <button>Sign In</button>
    </form>
</div>