<div class="login">
    <form action="/login" method="post">
        <h1>Welcome</h1>
        <input name="email" type="email" placeholder="Email" value=""/>
        <input name="password" type="password" placeholder="Password" value=""/>
        <button formaction="/signup">Sign Up</button>
        <button>Sign In</button>
    </form>
</div>