<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Resume Builder</title>
</head>
<body>
  <header>
    <h1>Resume Builder</h1>
    <div>Login Here</div>
  </header>
  <main>
    <section id="editor">
      <div class="inner">
        <form autocomplete="off" action="//localhost:8080/resume/1" method="put">
        <h2>Personal Info</h2>
        <div>
          <label name="first-name">First Name<input></label>
          <label name="last-name">Last Name<input></label>
          <label name="title">Title<input></label>
          <label name="email">Email<input></label>
          <label name="phone">Phone<input></label>
          <label name="address">Address<input></label>
          <label name="post-code">Post code<input></label>
          <label name="city">City<input></label>
        </div>
        
        <h2>Experience</h2>
        <div>
          <label name="exp-title">Title<input></label>
          <label name="exp-location">Location<input></label>
          <label name="exp-from">From<input></label>
          <label name="exp-to">To<input></label>
          <label name="exp-summary">Summary<textarea rows="8"></textarea></label>
        </div>
        
        <h2>Education</h2>
        <div>
          <label name="edu-title">Title<input></label>
          <label name="edu-location">Location<input></label>
          <label name="edu-from">From<input></label>
          <label name="edu-to">To<input></label>
          <label name="edu-summary">Summary<textarea rows="8"></textarea></label>
        </div>
        </form>
        <button>Save</button>
        <button>Preview</button>
      </div>

    </section>
    <section id="preview">
      <div id="preview-inner">
        <iframe src="//localhost:8080/resume" class="paper"></iframe> 
      </div>
      <button id="toggleEditor">Toggle editor</button>
    </section>
  </main>
</body>
<script src="../public/js/main.js"></script>
<script src="js/main.js"></script>
</html>