<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Document</title>
</head>
<body>
  <header>
    <h1>Resume Builder</h1>
    <div>Login Here</div>
  </header>
  <main>
    <section id="editor">
      <div class="inner">
        <form autocomplete="off">
          <label for="name">Name</label>
          <input type="text" name="Name">
          <label for="email">Email</label>
          <input type="text" name="email">
          <button>Send</button>
        </form>
      </div>

    </section>
    <section id="preview">
      <div id="resume" class="paper">
        <div class="inner">Render Here</div>
      </div>
    </section>
  </main>
  <!-- Insert Footer -->
</body>
</html>