<head>
<style>

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    font-size: 5vw;
    color: maroon;
}
</style>
</head>
<body>
    <h1>Failed to load</h1>
</body>