<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Resume Builder - Login</title>
</head>
<body>
    <form id="login" class="paper flex-col" action="/login" method="post" autocomplete="off">
        <h1>Resume Builder</h1>
        <input name="email" type="email" placeholder="Email" value="arnold@mrolympia.com" required/>
        <input name="password" type="password" placeholder="Password" value="pass" required/>
        <div id="login-buttons">
            <button class="button-main">Sign In</button>
            <button formaction="/signup">Sign Up</button>
        </div>
        <% if (locals.error) { %>
            <div id="error-popup" class="paper">
                <h2>Ooops</h2>
                <p><%= locals.error %></p>
            </div>
        <% } %>
    </form>

</body>
</html>
