<html lang="en">
  <head>
      <meta charset="UTF-8">
  <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
      <link rel="stylesheet" href="css/resume.css">
      <link rel="stylesheet" href="../public/css/resume.css">
      <title>Resume Preview</title>
  </head>
  <body>
      <section class="sidebar">
        <img src="https://www.bluecross.org.uk/sites/default/files/styles/content_large/public/assets/images/kitten%20PP2.jpg?itok=TcekZ7ZM" alt="profile picture" id="profilePic">
        <div>
          <h3>Contact Info</h3>
          <ul>
            <li>Hello</li>
            <li>Hi</li>
            <li>We</li>
            <li>Like</li>
            <li>Sportz</li>
          </ul>  
        </div>
        <div>
          <h3>Skills</h3>
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node</li>
          </ul>
        </div>
 
      </section>
      <section class="content">
        <h1 id="name">Thomas Søvik</h1>
        <h2 id="jobTitle">Support Technician</h2>
        <h2>Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nisi sapiente voluptate animi aspernatur itaque. Magnam amet animi ratione alias explicabo corporis harum cumque earum, maxime voluptates, obcaecati, maiores ipsum.</p>
      </section>
  </body>
</html>