html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
}

h1 {
  font-family: "Oswald", sans-serif;
}

.paper {
  padding: 2em;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

button, .button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  color: #0af;
  background: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.button-main {
  color: white;
  background: #0af;
}

input, textarea {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 0.9em;
  width: 100%;
  outline: none;
  resize: none;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  background: #f0f0f0;
}

textarea {
  line-height: 1.5em;
}

input:focus, textarea:focus {
  margin-bottom: 0;
  border-bottom: 3px solid #0af;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  height: 100vh;
  background-color: #fff;
}

main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 3em);
}

#preview-section,
#editor-section {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 2rem;
  overflow: scroll;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  background: #0af;
  color: #fff;
  height: 3em;
  text-align: center;
}

#editor-section {
  min-width: 500px;
}
#editor-section #editor {
  margin: 0 auto;
  max-width: 700px;
}
#editor-section #editor section:not(:last-child) {
  margin-bottom: 2rem;
}
#editor-section #editor h2 {
  color: #222;
}
#editor-section #editor h2, #editor-section #editor p {
  width: 100%;
  padding: 0.4rem;
}
#editor-section #editor label {
  font-weight: 300;
  font-size: 16px;
  color: #666;
  padding: 0.4rem;
  flex-grow: 1;
  flex-basis: 250px;
}
#editor-section #editor .experience {
  position: relative;
  padding: 1rem 0;
  border-top: 1px solid #eee;
}
#editor-section #editor .experience .delete-experience-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#preview-section {
  flex-grow: 1;
  display: grid;
  place-items: center;
  background: #eee;
}
#preview-section #preview-wrapper {
  width: calc(var(--a4-w) * var(--resume-scale));
  height: calc(var(--a4-h) * var(--resume-scale));
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
#preview-section #preview-wrapper #preview {
  padding: 0;
  border: 0;
  transform: scale(var(--resume-scale));
  transform-origin: 0 0;
}
#preview-section #preview-hover {
  position: fixed;
  margin: 2em;
  bottom: 0;
  right: 0;
}

.a4 {
  width: var(--a4-w);
  height: var(--a4-h);
}

.display-none {
  display: none;
}

:root {
  --resume-scale: 0.6;
  --a4-h: 29.7cm;
  --a4-w: 21cm;
}

@media only screen and (max-width: 1000px) {
  :root {
    --resume-scale: 0.4;
  }
}
@media only screen and (min-width: 1200px) {
  :root {
    --resume-scale: 0.8;
  }
}
