/* How to Sort CSS
  /* Positioning
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /* Display & Box Model
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  /* Color
  background: #000;
  color: #fff
  
  /* Text
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /* Other
  cursor: pointer;
*/

/*CSS Reset*/
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  background-color: #fff;
}

main {
  display: flex;
  flex-grow: 1;
  max-height: calc(100vh - 3em);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  
  background: lightblue;
  height: 3em;
  text-align: center;
}

#editor, #previe {
  display: flex;
  flex: 1 1;
}

#preview {
  width: 50%;
  background: #eee;
  padding: 3em 5em;
  overflow: scroll;
}

#preview-inner {
  transform: scale(0.7);
  transform-origin: 0 0;
  width: 21cm;
  height: 29.7cm;
}

#preview iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

#editor {
  display: block;
}

#editor .inner {
  height: 100%;
  max-width: 500px;
  margin: auto;
  
  border: 1px solid black;
}

#toggleEditor {
  margin: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
}

.paper {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

button, .button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 5px;
  
  color: darkorange;
  background: white;

  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  
  cursor: pointer;
}